{% extends 'base.html' %}

{% block content %}
 <div class="card">
  <!-- add this single line below -->
 
    <div class="card-content">
    

<span class="card-title">{{ home.name }}</span>
      <p>Address: {{ home.address }}</p>
       <a class="btn btn-primary" href="{% url 'group_update' home.id %}">edit home</a>
     <a class="btn btn-primary" href="{% url 'group_chores' home.id %}">edit chroes</a>

    </div>
  <!-- and this following one as well -->

</div>

{% for profile in profiles %}
<div calss="card">
	 <div class="card-content">
      <span class="card-title">{{ profile.user.username }}</span>
     <a href="{% url 'member_detail' profile.id  home.id %}">EDIT chroes</a>
    </div>

</div>
{% endfor %}

{% endblock content %}