{% extends 'base.html' %}

{% block content %}
 <div class="card">
  <!-- add this single line below -->
 
    <div class="card-content">
    {%   if home == None %}
    <p>you are  not in any group want to create one?</p>
   <a class="btn btn-primary" href="{% url 'new_group' %}">create group</a>
	{% else %}
 <a href="{% url 'group_detail'  home.id %}">
<span class="card-title">{{ home.name }}</span>
      <p>Address: {{ home.address }}</p>
{% endif %}	
    </div>
  <!-- and this following one as well -->
  </a>
</div>
{% endblock content %}