{% extends 'base.html' %}
{% block content %}
<body class="wallpaper-bright">
  <main class="container my-5">
    <div class="jumbotron container shadow my-4 p-5 rounded">
      <div class="row justify-content-md-center">
        <div class="col-md-auto my-4">
          <h1 class="display-4 text-warning my-5 brand"><strong>HouseWerk</strong></h1>
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% include '../includes/form.html' with form=form %}
            <input type="submit" class="btn btn-warning px-5 text-white my-3" value="Log In">
            <input type="hidden" name="next" value="{{ next }}">
            <a class="btn px-5 ml-2 btn-secondary text-white" href="{% url 'new_member' %}" role="button">Sign Up</a>
          </form>
        </div>
      </div>
    </div>
  </main>
  {% include 'includes/footer_clear.html' %} 
</body>

{% endblock content %}
