{% extends 'base.html' %}
{% block title %} - My Profile{% endblock %}
{% block content %}

  <main class="container d-flex justify-content-center my-5">
    <div class="row align-items-center">
      <div class="col-md-3 d-flex justify-content-center">
        <img 
          class="img-thumbnail rounded-circle shadow-sm" 
          alt="profile photo" 
          src="https://randomuser.me/api/portraits/lego/4.jpg"
        >
      </div>
      <div class="col">
        <div class="card h-100 my-4 shadow-sm">
          <div class="card-body p-5">
            <p class="lead text-muted">User Profile</p>
            <hr>
            <dl class="row my-5">
              <dt class="col-sm-3 my-2">Username:</dt>
              <dd class="col-sm-9 my-2">{{ user|title }}</dd>
              <dt class="col-sm-3 my-2">First Name:</dt>
              <dd class="col-sm-9 my-2">{{ user.first_name }}</dd>
              <dt class="col-sm-3 my-2">Last Name:</dt>
              <dd class="col-sm-9 my-2">{{ user.last_name }}</dd>
              <dt class="col-sm-3 my-2">Email:</dt>
              <dd class="col-sm-9 my-2">{{ user.email }}</dd>
              <dt class="col-sm-3 my-2">Group:</dt>
              <dd class="col-sm-9 my-2">{{ user.profile.home_id }}</dd>
            </dl>
            <a href="{% url 'profile_edit' %}" class="btn btn-warning text-white px-5 mb-3"> Edit Profile </a>
            <a href="{% url 'profile_delete' user.id %}" class="btn btn-danger px-5 mb-3"> Delete </a>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}